// Your custom settings file to override Foundation defaults
@import "settings";

@import "font-awesome";
// Comment out this import if you are customizing you imports below
@import "foundation";

header {
  >#home{
    background-color: transparent;
    h1 {
    color: black;
    font-weight: 500;
    }
  }
  background-color: #2ba6cb;
  padding: 22px 0;
  h1 {
    color: #fff;
    font-weight: 500;
  }
}
#home{
  background-color: transparent;
  h1 {
  color: black;
  font-weight: 500;
  }
}
.container.top-bar {
  margin-bottom: 0;
}
#main {
  margin-top: 44px;
  margin-bottom: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";
