---
title: contact 
---

.row
  %h1 Contact
  %ul.vcard
    %li.fn Gaius Baltar
    %li.street-address 123 Colonial Ave.
    %li.locality Caprica City
    %li
      %span.state> Caprica
      ,
      %span.zip 12345
    %li.email
      %a{:href => "#"} g.baltar@cmail.comd
