---
title: Home 
homeClass: active
---
%header
  .row
    .twelve.columns
      %h1
        %li.icon-home.icon-2x 
        Home 
%section#main
  .row
    .twelve.columns
      %p
        = lorem.paragraphs 1 
