---
title: Price 
priceClass: active
---
%header
  .row
    .twelve.columns
      %h1 
        %li.icon-money.icon-2x 
        Price 
%section#main
  .twelve.columns
    .row
      %p
        = lorem.paragraphs 1 
  .height.columns
    .row
      .large-6.columns
        %img{:src => "http://placehold.it/200x200&text=Thumbnail"}/
        .panel
          %h5 Item Name
          %h6.subheader $000.00
      .large-6.columns
        %img{:src => "http://placehold.it/200x200&text=Thumbnail"}/
        .panel
          %h5 Item Name
          %h6.subheader $000.00
